.Logo{
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    background:  white;
    width: 50px;
    border-radius: 5px;
}
.Logo img{ 
    height: 100%;
    width:100%;
    
}