.ContactData{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    flex-flow: column;
    box-shadow: 0 2px 3px #cccccc;
    border: 1px solid #eeeeee;
    padding: 10px;
    box-sizing: border-box;
}
@media(min-width:600px){
    .ContactData{
        width:500px;
    }
}
/* .ContactData input{
    display: block;
    margin: 10px auto;
    padding: 5px 10px; 
    border-radius: 5px;
    border: 2px solid tomato;
    height: 20px;
    width: 80% ;

} */
/* .ContactData button:hover{
    border: tomato 1px solid;
    border-radius: 5px;
    
}
.ContactData button:only-child{
margin:  0 auto;
}.ContactData button{
    padding: 5px 10px 5px;
    box-sizing: content-box;
} */
